@using CreaturesOfCode.Core
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Creatures of Code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,500,600,700,800,900' rel='stylesheet' type='text/css'>

    <link href="~/css/" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/hover.css" rel="stylesheet">
    <link href="/css/alt_footer.css" rel="stylesheet">
    <link href="~/css/custom.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="~/scripts/jquery-2.1.1.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/modernizr.custom.js"></script>

</head>

<body>
    <header class="menu-two">
        <!-- Navbar -->
        <div class="navbar navbar-fixed-top" role="navigation">
            <!-- TOP STRIP -->
            <div id="top-strip" class="hidden-xs">
                <div class="container">
                    <span class="top-info">
                        <i style="color: rgb(43, 24, 111)" class=" fa fa-envelope marg-right5"></i> <a href="#">hotdiggitydoddo@gmail.com</a>
                        @*<i class="fa fa-phone-square marg-left5 marg-right5"></i> 0457-906745*@
                    </span>
                    <span class="top-info2">
                        @if (User.Identity.IsAuthenticated)
                        {
                            //<span style="color: #445B73 !important; font-size: 13px; margin-right: 15px;">Welcome back, @UserProfile.Current.Username!</span>
                        }
                        <a href="#"><i class="fa fa-facebook marg-right5"></i></a>
                        <a href="#"><i class="fa fa-twitter marg-right5"></i></a>
                        <a href="#"><i class="fa fa-dribbble marg-right5"></i></a>
                        <a href="#"><i class="fa fa-linkedin marg-right5"></i></a>
                    </span>
                </div>
            </div>
            <!-- //TOP STRIP -->
            <div class="container">
                <div class="navbar-header">
                    <!-- COLLAPSE BUTTON -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <i class="fa fa-bars fa-2x"></i>
                    </button>
                    <!-- LOGO -->
                    <a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Creatures of Code" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <!-- NAV -->
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Creatures</a>
                            <ul class="drop-down">
                                <li><a href="about.html">About</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="timeline.html">Timeline</a></li>
                                <li><a href="pricing.html">Pricing Tables</a></li>
                                <li><a href="testimonials.html">Testimonials</a></li>
                                <li><a href="faq.html">Faq</a></li>
                            </ul>
                        </li>
                        <li>
                            @Html.ActionLink("Blog", "Index", "Blog")
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Logout", "Logout", "Account")
                            </li>
                        }
                    </ul>
                </div>
                <!--END NAV-->
            </div>
        </div>
    </header>
    @RenderBody()

    <!--footer-->
    <div id="footer_alt">
        <div class="container">
            <!--column 1-->
            <div class="col-sm-6 col-md-3">
                <h6>about us</h6>
                <p>
                    Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus. Sed do eiusmod <a href="#">tempor incididun</a> ut labore et
                    dolore magna aliqua. Class aptent taciti sociosqu ad.
                </p>

                &copy; 2014 art23<br>
                Template by <a href="http://www.spiralpixel.com/">Spiral Pixel</a> <br>
                All Rights Reserved
                <div class="pad25"></div>
            </div>

            <!--column 2-->
            <div class="col-sm-6 col-md-3">
                <h6>get in touch</h6>
                <p>Wullam ligula sapien, pharetra eget volutpat vel, consequat in lectus.</p>
                <ul class="fa-ul">
                    <li>
                        23 Mornington Crescent<br />
                        Camden High Street<br />
                        London NW1 7JE
                    </li>
                    <li>
                        <i class="fa fa-pencil"></i> <a href="mailto:name@example.com">name@example.com</a><br />
                        <i class="fa fa-phone"></i> +44 020 2345 1987
                    </li>
                </ul>
                <div class="pad25"></div>
            </div>

            <!--column 3-->
            <div class="col-sm-6 col-md-3">
                <h6>latest post</h6>
                <img src="/Images/large/fullimage1.jpg" alt="" />
                <p class="pad10">
                    <a href="blog-post.html">Scelerisque nisl consectetur et</a>
                    <br>
                    <em>28th Sep 2012</em>
                </p>
                <a href="blog_post.html" class="pad10">Continue reading &rarr;</a>
                <div class="pad25"></div>
            </div>

            <!--column 4-->
            <div class="col-sm-6 col-md-3">
                <h6>instagram</h6>

                <article class="social-feed flickr-feed"></article>
            </div>

            <div class="container">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a href="#" onclick="signin()"><i class="go-top signin fa fa-sign-in"></i></a>
                }
                <a href="#"><i class="go-top hidden-phone hidden-tablet fa fa-angle-double-up"></i></a>
            </div>
        </div>
    </div>


    <!--[if lte IE 8]>
        <script src="/Scripts/respond.min.js"></script>
    <![endif]-->
    <script src="/Scripts/retina.js"></script>
    <script type="text/javascript" src="/Scripts/parallax.js"></script>
    <script type="text/javascript" src="/Scripts/scripts.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.appear.js"></script>

    <script src="/Scripts/socialstream.jquery.js"></script>
    <script>
            //<![CDATA[
            /* ================ FLICKR FEED  - ADD YOUR USERNAME ================ */
            //$('.flickr-feed').socialstream({
            //    socialnetwork: 'flickr',
            //    limit: 9,
            //    username: 'Daniele Zedda'
            //})
            //]]>
            $('.flickr-feed').socialstream({
                socialnetwork: 'instagram',
                limit: 9,
                username: 'hotdiggitydoddo'
            })
    </script>

    <script src="https://cdn.auth0.com/js/lock-6.2.min.js"></script>
    <script type="text/javascript">
            var lock = new Auth0Lock('f5t9UFBiw6GEP0cFsxFgT1GrsOtJ0Xdl', 'creaturesofcode.auth0.com');

            function signin() {
                lock.show({
                    callbackURL: 'http://localhost:39646/LoginCallback.ashx'
                  , responseType: 'code'
                  , authParams: {
                      scope: 'openid profile'
                  }
                });
            }
    </script>
</body>
</html>